USE [master]
GO
/****** Object:  Database [ErpProjectWMP]    Script Date: 19.11.2021 14:53:52 ******/
CREATE DATABASE [ErpProjectWMP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ErpProjectWMP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ErpProjectWMP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ErpProjectWMP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ErpProjectWMP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ErpProjectWMP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ErpProjectWMP]
GO
/****** Object:  Table [dbo].[tblCariGruplari]    Script Date: 19.11.2021 14:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCariGruplari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GrupAdi] [nvarchar](50) NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCariler]    Script Date: 19.11.2021 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCariler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CariNo] [nvarchar](10) NULL,
	[CariGroupId] [int] NULL,
	[CariTipId] [int] NULL,
	[CariAdi] [nvarchar](100) NULL,
	[CariUnvan] [nvarchar](max) NULL,
	[Adres1] [nvarchar](max) NULL,
	[Adres2] [nvarchar](max) NULL,
	[Vdairesi] [nvarchar](50) NULL,
	[Tc_Vn] [nvarchar](11) NULL,
	[SehirId] [int] NULL,
	[CariTel] [nvarchar](20) NULL,
	[CariMail] [nvarchar](50) NULL,
	[YetkiliAdi1] [nvarchar](50) NULL,
	[YetkiliAdi2] [nvarchar](50) NULL,
	[YetkiliAdi3] [nvarchar](50) NULL,
	[YetkiliDepartmani1] [nvarchar](50) NULL,
	[YetkiliDepartmani2] [nvarchar](50) NULL,
	[YetkiliDepartmani3] [nvarchar](50) NULL,
	[YetkiliTel1] [nvarchar](20) NULL,
	[YetkiliTel2] [nvarchar](20) NULL,
	[YetkiliTel3] [nvarchar](20) NULL,
	[YetkiliCep1] [nvarchar](20) NULL,
	[YetkiliCep2] [nvarchar](20) NULL,
	[YetkiliCep3] [nvarchar](20) NULL,
	[YetkiliMail1] [nvarchar](50) NULL,
	[YetkiliMail2] [nvarchar](50) NULL,
	[YetkiliMail3] [nvarchar](50) NULL,
	[SaveUserId] [int] NULL,
	[UpdateUserId] [int] NULL,
	[SaveDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStokGirisUst]    Script Date: 19.11.2021 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStokGirisUst](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenelNo] [int] NULL,
	[CariGrupId] [int] NULL,
	[CariAdiId] [int] NULL,
	[GirisTipi] [int] NULL,
	[FaturaNo] [nvarchar](50) NULL,
	[FaturaTarih] [datetime] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[SaveDate] [datetime] NULL,
	[SaveUserId] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserId] [int] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStokGirisAlt]    Script Date: 19.11.2021 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStokGirisAlt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenelNo] [int] NULL,
	[SiraNo] [int] NULL,
	[Barkod] [nvarchar](50) NULL,
	[UrunKodu] [nvarchar](50) NULL,
	[LotSeriNo] [nvarchar](50) NULL,
	[Adet] [int] NULL,
	[Not] [nvarchar](max) NULL,
	[UT] [datetime] NULL,
	[SKT] [datetime] NULL,
	[AlisFiyat] [decimal](11, 2) NULL,
	[isActiveAlt] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwStokGiris]    Script Date: 19.11.2021 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwStokGiris]
AS
SELECT dbo.tblStokGirisAlt.Id, dbo.tblStokGirisUst.GenelNo, dbo.tblCariGruplari.GrupAdi, dbo.tblCariler.CariAdi, dbo.tblStokGirisUst.GirisTipi, dbo.tblStokGirisUst.FaturaNo, dbo.tblStokGirisUst.FaturaTarih, dbo.tblStokGirisUst.Aciklama, 
                  dbo.tblStokGirisUst.isActive, dbo.tblStokGirisAlt.SiraNo, dbo.tblStokGirisAlt.Barkod, dbo.tblStokGirisAlt.UrunKodu, dbo.tblStokGirisAlt.LotSeriNo, dbo.tblStokGirisAlt.Adet, dbo.tblStokGirisAlt.[Not], dbo.tblStokGirisAlt.UT, 
                  dbo.tblStokGirisAlt.SKT, dbo.tblStokGirisAlt.AlisFiyat, dbo.tblStokGirisUst.Id AS UstId
FROM     dbo.tblCariGruplari INNER JOIN
                  dbo.tblStokGirisUst ON dbo.tblCariGruplari.Id = dbo.tblStokGirisUst.CariGrupId INNER JOIN
                  dbo.tblCariler ON dbo.tblStokGirisUst.CariAdiId = dbo.tblCariler.Id AND dbo.tblCariGruplari.Id = dbo.tblCariler.CariGroupId INNER JOIN
                  dbo.tblStokGirisAlt ON dbo.tblStokGirisUst.GenelNo = dbo.tblStokGirisAlt.GenelNo
GO
/****** Object:  Table [dbo].[tblDepartmanlar]    Script Date: 19.11.2021 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartmanlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GrupId] [int] NULL,
	[DepartmanAdi] [nvarchar](70) NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPersonelDetay]    Script Date: 19.11.2021 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPersonelDetay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CariId] [int] NULL,
	[IsBasiTarih] [datetime] NULL,
	[IsSonuTarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSehirler]    Script Date: 19.11.2021 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSehirler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehir] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblSehirler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStokDurum]    Script Date: 19.11.2021 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStokDurum](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StokKodu] [nvarchar](50) NULL,
	[Barkod] [nvarchar](50) NULL,
	[Urun] [nvarchar](50) NULL,
	[Lot] [nvarchar](50) NULL,
	[StokAdet] [int] NULL,
	[RafAdet] [int] NULL,
	[KonsinyeAdet] [int] NULL,
	[SubeAdet] [int] NULL,
	[UT] [datetime] NULL,
	[SKT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUrunler]    Script Date: 19.11.2021 14:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUrunler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrunGenelNo] [nvarchar](50) NULL,
	[UrunKodu] [nvarchar](50) NULL,
	[UrunAdi] [nvarchar](50) NULL,
	[UrunAciklama] [nvarchar](max) NULL,
	[KutuIcerik] [nvarchar](max) NULL,
	[TedarikciFirmaId] [int] NULL,
	[AlisFiyat] [decimal](11, 2) NULL,
	[SatisFiyat] [decimal](11, 2) NULL,
	[KullanimSuresiAy] [int] NULL,
	[SaveDate] [datetime] NULL,
	[SaveUserId] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserId] [int] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCariGruplari] ON 

INSERT [dbo].[tblCariGruplari] ([Id], [GrupAdi], [isActive]) VALUES (1, N'Hastane', 1)
INSERT [dbo].[tblCariGruplari] ([Id], [GrupAdi], [isActive]) VALUES (2, N'Doktor', 1)
INSERT [dbo].[tblCariGruplari] ([Id], [GrupAdi], [isActive]) VALUES (3, N'Firma', 1)
SET IDENTITY_INSERT [dbo].[tblCariGruplari] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCariler] ON 

SET IDENTITY_INSERT [dbo].[tblCariler] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDepartmanlar] ON 

INSERT [dbo].[tblDepartmanlar] ([Id], [GrupId], [DepartmanAdi], [isActive]) VALUES (1, 1, N'Satin Alma', 1)
INSERT [dbo].[tblDepartmanlar] ([Id], [GrupId], [DepartmanAdi], [isActive]) VALUES (2, 1, N'Muhasebe', 1)
INSERT [dbo].[tblDepartmanlar] ([Id], [GrupId], [DepartmanAdi], [isActive]) VALUES (3, 1, N'Ortopedi Servisi', 1)
SET IDENTITY_INSERT [dbo].[tblDepartmanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPersonelDetay] ON 

INSERT [dbo].[tblPersonelDetay] ([Id], [CariId], [IsBasiTarih], [IsSonuTarih]) VALUES (1, 8, CAST(N'2010-11-12T09:58:38.000' AS DateTime), CAST(N'2021-11-08T09:58:38.000' AS DateTime))
INSERT [dbo].[tblPersonelDetay] ([Id], [CariId], [IsBasiTarih], [IsSonuTarih]) VALUES (2, 1008, CAST(N'2021-11-01T11:55:32.000' AS DateTime), CAST(N'2021-11-08T11:56:23.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblPersonelDetay] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSehirler] ON 

INSERT [dbo].[tblSehirler] ([id], [sehir]) VALUES (1, N'ADANA')
INSERT [dbo].[tblSehirler] ([id], [sehir]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[tblSehirler] ([id], [sehir]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[tblSehirler] OFF
GO
SET IDENTITY_INSERT [dbo].[tblStokDurum] ON 

INSERT [dbo].[tblStokDurum] ([Id], [StokKodu], [Barkod], [Urun], [Lot], [StokAdet], [RafAdet], [KonsinyeAdet], [SubeAdet], [UT], [SKT]) VALUES (1, N'1', N'AR-1001/1', N'AR-1001', N'1', 122, 89, 0, 0, CAST(N'2021-11-11T00:00:00.000' AS DateTime), CAST(N'2022-11-11T00:00:00.000' AS DateTime))
INSERT [dbo].[tblStokDurum] ([Id], [StokKodu], [Barkod], [Urun], [Lot], [StokAdet], [RafAdet], [KonsinyeAdet], [SubeAdet], [UT], [SKT]) VALUES (2, N'1', N'AR-1001/2', N'AR-1001', N'2', 211, 178, 0, 0, CAST(N'2021-11-11T00:00:00.000' AS DateTime), CAST(N'2021-11-11T00:00:00.000' AS DateTime))
INSERT [dbo].[tblStokDurum] ([Id], [StokKodu], [Barkod], [Urun], [Lot], [StokAdet], [RafAdet], [KonsinyeAdet], [SubeAdet], [UT], [SKT]) VALUES (3, N'1', N'AR-1002/1', N'AR-1002', N'1', 11, 11, 0, 0, CAST(N'2021-11-11T00:00:00.000' AS DateTime), CAST(N'2023-11-11T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblStokDurum] OFF
GO
SET IDENTITY_INSERT [dbo].[tblStokGirisAlt] ON 

INSERT [dbo].[tblStokGirisAlt] ([Id], [GenelNo], [SiraNo], [Barkod], [UrunKodu], [LotSeriNo], [Adet], [Not], [UT], [SKT], [AlisFiyat], [isActiveAlt]) VALUES (1, 1, 1, N'AR-1001/1', N'AR-1001', N'1', 11, N'd', CAST(N'2021-11-11T00:00:00.000' AS DateTime), CAST(N'2022-11-11T00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(11, 2)), 1)
INSERT [dbo].[tblStokGirisAlt] ([Id], [GenelNo], [SiraNo], [Barkod], [UrunKodu], [LotSeriNo], [Adet], [Not], [UT], [SKT], [AlisFiyat], [isActiveAlt]) VALUES (2, 1, 2, N'AR-1001/2', N'AR-1001', N'2', 11, N'd', CAST(N'2021-11-11T00:00:00.000' AS DateTime), CAST(N'2021-11-11T00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(11, 2)), 1)
INSERT [dbo].[tblStokGirisAlt] ([Id], [GenelNo], [SiraNo], [Barkod], [UrunKodu], [LotSeriNo], [Adet], [Not], [UT], [SKT], [AlisFiyat], [isActiveAlt]) VALUES (3, 2, 1, N'AR-1001/1', N'AR-1001', N'1', 100, N'd', CAST(N'2021-11-11T00:00:00.000' AS DateTime), CAST(N'2023-11-11T00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(11, 2)), 1)
SET IDENTITY_INSERT [dbo].[tblStokGirisAlt] OFF
GO
SET IDENTITY_INSERT [dbo].[tblStokGirisUst] ON 

INSERT [dbo].[tblStokGirisUst] ([Id], [GenelNo], [CariGrupId], [CariAdiId], [GirisTipi], [FaturaNo], [FaturaTarih], [Aciklama], [SaveDate], [SaveUserId], [UpdateDate], [UpdateUserId], [isActive]) VALUES (1, 1, 1, 1, 1, N'123456', CAST(N'2021-11-17T13:56:30.113' AS DateTime), N'sdfdsfa', CAST(N'2021-11-17T13:57:25.290' AS DateTime), 1, CAST(N'2021-11-19T12:44:23.430' AS DateTime), 1, 1)
INSERT [dbo].[tblStokGirisUst] ([Id], [GenelNo], [CariGrupId], [CariAdiId], [GirisTipi], [FaturaNo], [FaturaTarih], [Aciklama], [SaveDate], [SaveUserId], [UpdateDate], [UpdateUserId], [isActive]) VALUES (2, 2, 3, 1019, 1, N'', CAST(N'2021-11-17T14:34:27.733' AS DateTime), N'', CAST(N'2021-11-17T14:36:01.290' AS DateTime), 1, NULL, NULL, 1)
INSERT [dbo].[tblStokGirisUst] ([Id], [GenelNo], [CariGrupId], [CariAdiId], [GirisTipi], [FaturaNo], [FaturaTarih], [Aciklama], [SaveDate], [SaveUserId], [UpdateDate], [UpdateUserId], [isActive]) VALUES (3, 3, 3, 1019, 1, N'1234', CAST(N'2021-11-18T10:56:29.427' AS DateTime), N'sdf', CAST(N'2021-11-18T10:57:24.193' AS DateTime), 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tblStokGirisUst] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUrunler] ON 

INSERT [dbo].[tblUrunler] ([Id], [UrunGenelNo], [UrunKodu], [UrunAdi], [UrunAciklama], [KutuIcerik], [TedarikciFirmaId], [AlisFiyat], [SatisFiyat], [KullanimSuresiAy], [SaveDate], [SaveUserId], [UpdateDate], [UpdateUserId], [isActive]) VALUES (1, N'U00000001', N'AR-1001', N'Tendon Kesici II', N'Deneme', N'1 kutu x 50 adet', 1019, CAST(100.00 AS Decimal(11, 2)), CAST(200.00 AS Decimal(11, 2)), 60, CAST(N'2021-11-15T11:42:55.047' AS DateTime), 1, CAST(N'2021-11-18T09:40:07.300' AS DateTime), 1, 1)
INSERT [dbo].[tblUrunler] ([Id], [UrunGenelNo], [UrunKodu], [UrunAdi], [UrunAciklama], [KutuIcerik], [TedarikciFirmaId], [AlisFiyat], [SatisFiyat], [KullanimSuresiAy], [SaveDate], [SaveUserId], [UpdateDate], [UpdateUserId], [isActive]) VALUES (2, N'U00000002', N'sdfsdfsd', N'sdfsdfsdf', N'fdsfsdf', N'sdfsdfsd', 1020, CAST(111.00 AS Decimal(11, 2)), CAST(222.00 AS Decimal(11, 2)), 0, CAST(N'2021-11-15T11:47:09.050' AS DateTime), 1, NULL, NULL, 0)
INSERT [dbo].[tblUrunler] ([Id], [UrunGenelNo], [UrunKodu], [UrunAdi], [UrunAciklama], [KutuIcerik], [TedarikciFirmaId], [AlisFiyat], [SatisFiyat], [KullanimSuresiAy], [SaveDate], [SaveUserId], [UpdateDate], [UpdateUserId], [isActive]) VALUES (1002, N'U00000003', N'AR-1002', N'AR-1002', N'', N'', 1019, CAST(100.00 AS Decimal(11, 2)), CAST(120.00 AS Decimal(11, 2)), 24, CAST(N'2021-11-17T10:43:09.973' AS DateTime), 1, CAST(N'2021-11-18T09:40:27.007' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[tblUrunler] OFF
GO
ALTER TABLE [dbo].[tblCariler]  WITH CHECK ADD  CONSTRAINT [FK_tblCariler_tblCariGruplari] FOREIGN KEY([CariGroupId])
REFERENCES [dbo].[tblCariGruplari] ([Id])
GO
ALTER TABLE [dbo].[tblCariler] CHECK CONSTRAINT [FK_tblCariler_tblCariGruplari]
GO
ALTER TABLE [dbo].[tblCariler]  WITH CHECK ADD  CONSTRAINT [FK_tblCariler_tblSehirler] FOREIGN KEY([SehirId])
REFERENCES [dbo].[tblSehirler] ([id])
GO
ALTER TABLE [dbo].[tblCariler] CHECK CONSTRAINT [FK_tblCariler_tblSehirler]
GO
ALTER TABLE [dbo].[tblDepartmanlar]  WITH CHECK ADD  CONSTRAINT [FK_tblDepartmanlar_tblCariGruplari] FOREIGN KEY([GrupId])
REFERENCES [dbo].[tblCariGruplari] ([Id])
GO
ALTER TABLE [dbo].[tblDepartmanlar] CHECK CONSTRAINT [FK_tblDepartmanlar_tblCariGruplari]
GO
ALTER TABLE [dbo].[tblPersonelDetay]  WITH CHECK ADD  CONSTRAINT [FK_tblPersonelDetay_tblCariler] FOREIGN KEY([CariId])
REFERENCES [dbo].[tblCariler] ([Id])
GO
ALTER TABLE [dbo].[tblPersonelDetay] CHECK CONSTRAINT [FK_tblPersonelDetay_tblCariler]
GO
ALTER TABLE [dbo].[tblStokGirisUst]  WITH CHECK ADD  CONSTRAINT [FK_tblStokGirisUst_tblCariGruplari] FOREIGN KEY([CariGrupId])
REFERENCES [dbo].[tblCariGruplari] ([Id])
GO
ALTER TABLE [dbo].[tblStokGirisUst] CHECK CONSTRAINT [FK_tblStokGirisUst_tblCariGruplari]
GO
ALTER TABLE [dbo].[tblStokGirisUst]  WITH CHECK ADD  CONSTRAINT [FK_tblStokGirisUst_tblCariler] FOREIGN KEY([CariAdiId])
REFERENCES [dbo].[tblCariler] ([Id])
GO
ALTER TABLE [dbo].[tblStokGirisUst] CHECK CONSTRAINT [FK_tblStokGirisUst_tblCariler]
GO
ALTER TABLE [dbo].[tblUrunler]  WITH CHECK ADD  CONSTRAINT [FK_tblUrunler_tblCariler] FOREIGN KEY([TedarikciFirmaId])
REFERENCES [dbo].[tblCariler] ([Id])
GO
ALTER TABLE [dbo].[tblUrunler] CHECK CONSTRAINT [FK_tblUrunler_tblCariler]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[27] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblCariGruplari"
            Begin Extent = 
               Top = 0
               Left = 725
               Bottom = 141
               Right = 919
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblStokGirisUst"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 230
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblCariler"
            Begin Extent = 
               Top = 0
               Left = 1029
               Bottom = 163
               Right = 1251
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tblStokGirisAlt"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 228
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 2016
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwStokGiris'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'      Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwStokGiris'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwStokGiris'
GO
USE [master]
GO
